li{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
    color: hsl(0, 0%, 80%);
    height: 100px;
    background-color: darkcyan;
    list-style: none;
    margin-top: 1rem;
    border: 2px solid rgb(199, 199, 199);
}

.parrafo-horario{
    margin-left: 1rem;
}